body {
    font-family: monospace;
    color: #ffff;
    margin: 0px;
    padding: 0px;
    background-color: #333;
    
}

/** HEADER **/
h1 img{
    margin: -20px 0px -24px 0px; 
    padding: 0px 0px 0px 0px;
    
    
}


ul {
  list-style-type: none;
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}



/** GRID **/
.wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  background-color: #333;
 
    
}


.box6 {
    grid-area: 2/2/span 2/ span 2;
    max-width: 100%;
    height: auto;
    padding: 0px 15px 0px 15px;
}

.box1 img {
    max-width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.box2 img{
    max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.box3 img{
    max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.box4 img{
   max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.box5 img{
    max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.box7 img{
    max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.box8 img{
    max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.box9 img{
    max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.box10 img{
    max-width: 100%;
    height: auto;
    grid-area: 3/2/4/3;
    margin: 0px;
    padding: 0px;
}

.box11 img{
    grid-area: 3/3/4/4;
    max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.box12 img{
    max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.box13 img{
    max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}